.login {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(236, 236, 236); */
    background-color: #363d4b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    gap: 3rem;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 50px;
    font-family: 'Eczar', serif;
    font-weight: 500;
    color: white;
    /* color: #282d38; */
    margin-bottom: 8px;
  }
  
  .loginDesc {
    font-size: 24px;
    font-weight: 300;
    color: white;
  }
  
  .loginBox{
      height: 400px;
      padding: 20px;
      /* background-color: rgb(255, 255, 255); */
      background-color: rgb(236, 236, 236);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .loginInput{
      height: 50px;
      border-radius: 4px;
      border: 1px solid gray;
      background-color: rgb(236, 236, 236);
      font-size: 18px;
      padding-left: 20px;
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .loginButton{
      height: 50px;
      border-radius: 4px;
      border: none;
      background-color: #282d38;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  
  .loginRegisterButton{
      width: 60%;
      align-self: center;
      height: 50px;
      border-radius: 4px;
      border: none;
      background-color: #42b72a;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }